.easycommerce .easycommerce-qunatity-input {
    border: none;
    background-color: #fff;
    width: 65px;
}
.easycommerce .easycommerce-qunatity-input:focus,
.easycommerce .easycommerce-qunatity-input:focus-visible {
    outline: 0;
}
.easycommerce .easycommerce-product-details p {
    color: var(--color-ec-body);
    font-family: "Inter", system-ui;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}
.easycommerce .easycommerce-product-details h1,
.easycommerce .easycommerce-product-details h2,
.easycommerce .easycommerce-product-details h3,
.easycommerce .easycommerce-product-details h4,
.easycommerce .easycommerce-product-details h5,
.easycommerce .easycommerce-product-details h6 {
    color: var(--color-ec-body);
    font-family: "Inter", system-ui;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
}
.easycommerce .easycommerce-product-details h1 {
    font-size: 32px;
}
.easycommerce .easycommerce-product-details h2 {
    font-size: 28px;
}
.easycommerce .easycommerce-product-details h3 {
    font-size: 26px;
}
.easycommerce .easycommerce-product-details h4 {
    font-size: 24px;
}
.easycommerce .easycommerce-product-details h5 {
    font-size: 22px;
}
.easycommerce .easycommerce-product-details h6 {
    font-size: 20px;
}
/* Swipper Slider /?? Image Gallery ??/ */
.easycommerce .easycommerce-single-product-gallery-next-prev-btn {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 3px 40.4px 0px #00000026;
}
.easycommerce .easycommerce-single-product-gallery-next-prev-btn::after {
    font-size: 12px;
    color: var(--color-ec-body);
    line-height: 22px;
    font-weight: bolder;
    top: 57%;
}
.easycommerce .easycommerce-single-product-gallery-next-prev-btn:focus::after {
    color: var(--color-ec-primary);
}
.easycommerce .easycommerce-single-product-gallery-item {
    border: 1px solid #1203500d;
    border-radius: 8px;
    background-color: #f7f7f9;
    cursor: pointer;
}
.easycommerce
    .easycommerce-single-product-gallery-item.swiper-slide-thumb-active {
    border: 1px solid var(--color-ec-primary) !important;
}
.easycommerce .easycommerce-single-product-gallery-item img {
    border-radius: 8px;
}

/* Custom Input Fields Styles */
.easycommerce-shop-page-input-type-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    background: transparent;
}
.easycommerce-shop-page-input-type-radio:checked {
    background-color: transparent !important;
    border: 1px solid var(--color-ec-primary) !important;
}
.easycommerce-shop-page-input-type-radio:checked::before {
    background-color: var(--color-ec-primary)!important;
    content: ""!important;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px!important;
    height: 8px!important;
    border-radius: 50%!important;
    margin: unset!important;
}
.easycommerce-shop-edit-page .easycommerce-shop-page-input-type-radio:checked::before {
    top: 3px;
    left: 3px;
}

/** Switch */
.easycommerce-switch {
    margin-bottom: 15px;
}
.easycommerce-switch:last-of-type {
    margin-bottom: 0px;
}
.easycommerce-switch .md-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.easycommerce-switch .md-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.easycommerce-switch input.md-toggle-round + label {
    padding: 2px;
    width: 40px;
    height: 22px;
}
.easycommerce-switch input.md-toggle-round + label:before,
input.md-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
.easycommerce-switch input.md-toggle-round + label:before {
    right: 1px;
    background: #dddddd;
    border-radius: 60px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
.easycommerce-switch input.md-toggle-round + label:after {
    width: 18px;
    height: 18px;
    margin: auto 2px;
    background: #ffffff;
    border-radius: 100%;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}
.easycommerce-switch input.md-toggle-round:checked + label:before {
    background-color: #00af4d;
}
.easycommerce-switch input.md-toggle-round:checked + label:after {
    margin-left: 18px;
}
.easycommerce-switch input.md-toggle-round:checked + label span {
    color: #555555;
}
.easycommerce-switch label span {
    position: absolute;
    top: 10px;
    display: block;
    font-size: 18px;
    padding-left: 15px;
    box-sizing: border-box;
    min-width: 500px;
    height: 40px;
    margin-left: 65px;
    vertical-align: middle;
    color: #555555;
}

.easycommerce-switch input:disabled + label:before {
    background-color: #dddddd;
    cursor: not-allowed;
}
.easycommerce-switch input:disabled + label span {
    color: #cccccc;
    cursor: not-allowed;
}
.easycommerce-switch input:disabled + label:after {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media only screen and (max-width: 567px) {
    .easycommerce .easycommerce-single-product-gallery-next-prev-btn {
        width: 25px;
        height: 25px;
    }
}
