.easycommerce.easycommerce-blocksy
	.easycommerce-checkout-wrapper
	.easycommerce-input-checkoutbox:checked::before,
.easycommerce.easycommerce-blocksy
	.easycommerce-shop-container-front
	.easycommerce-input-checkoutbox:checked::before {
	top: -4px;
	left: 3px;
}
.easycommerce.easycommerce-blocksy .easycommerce-quantity-minus-btn {
	border-right: 1px solid #1203501a;
}
.easycommerce.easycommerce-blocksy .easycommerce-quantity-plus-btn {
	border-left: 1px solid #1203501a;
}
.easycommerce.easycommerce-blocksy .easycommerce-qunatity-button {
	border: 1px solid var(--color-ec-border);
}
.easycommerce.easycommerce-blocksy .easycommerce-dash-roth tr th,
.easycommerce.easycommerce-blocksy .easycommerce-dash-roth tr td {
	border: 0;
	border-bottom: 1px solid var(--color-ec-border);
}
.easycommerce.easycommerce-blocksy .easycommerce-dashboard-form-password {
	height: 52px;
}
/* .easycommerce.easycommerce-blocksy .easycommerce-single-product-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
} */
.easycommerce.easycommerce-blocksy
	.easycommerce-single-product-wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: var(--theme-normal-container-max-width);
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px auto;
}
.easycommerce.easycommerce-blocksy .easycommerce-single-product-wrapper {
	padding-left: 20px;
	padding-right: 20px;
}
@media (max-width: 1024px) {
	.easycommerce.easycommerce-blocksy
		.easycommerce-single-product-wrapper
		.easycommerce-single-main-wrapper {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}
