#wpadminbar ul #wp-admin-bar-easycommerce {
    background: #7351fd;
}
.easycommerce-notice {
    border: 1px solid #7351fd;
    border-left-width: 5px;
    border-radius: 8px;
}
.easycommerce-notice > p {
    font-size: 14px;
    line-height: 21px;
}
.easycommerce-notice > p a {
    color: #7351fd;
}
.easycommerce #footer-thankyou,
.easycommerce #footer-upgrade{
    display: none;
}