.easycommerce-servey-wrapper {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #00000082;
    backdrop-filter: blur(4px);
}
.easycommerce-servey-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 627px;
    border-radius: 16px;
    padding: 40px 28px;
    background: #ffffff;
}
.easycommerce-servey-wrapper .easycommerce-input-checkoutbox {
    position: relative;
    border: 1px solid #dbdbdb;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    margin: 0;
}

.easycommerce-servey-wrapper .easycommerce-input-checkoutbox:checked {
    border-color: #7351fd !important;
    background-color: #7351fd !important;
}

.easycommerce-survey-item-wrap:has(
        input.easycommerce-input-checkoutbox:checked
    ) {
    transition: 0.3s all ease-in-out;
    border: 1px solid #7351fd !important;
    box-shadow: 0px 0px 0px 4px #F3F0FF;
}

.easycommerce-survey-comment {
    display: none;
}

input.easycommerce-input-checkoutbox:checked + .easycommerce-survey-comment {
    display: block;
}
.easycommerce-servey-wrapper .easycommerce-input-checkoutbox:focus {
    box-shadow: none;
    outline: none;
    border-color: #dbdbdb;
}
.easycommerce-servey-wrapper .easycommerce-input-checkoutbox:checked::before {
    content: url(../../admin/img/icons/checked.png);
    margin: unset;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -1px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.easycommerce-survey-comment {
    color: #3C3C42;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.easycommerce-survey-comment::placeholder {
    color: #7F7F98;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.easycommerce-survey-cross-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #fff;
    top: -19px;
    right: -20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.easycommerce-survey-cross-icon svg {
    width: 18px;
    height: 18px;
}

.easycommerce-survey-header {
    text-align: center;
}
.easycommerce-survey-header img {
    width: 78px;
    height: 78px;
}
.easycommerce-survey-header h2 {
    color: #121216;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 32px;
}

.easycommerce-survey-header h2 span {
    color: #7351fd;
    font-weight: 600;
}

.easycommerce-survey-reason-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.easycommerce-survey-item-wrap {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0px 15px;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 8px;
    color: #3C3C42;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    width: 43%;
    height: 40px;
    border: 1px solid #F0EDFB;
    transition: 0.3s all ease;
}

.easycommerce-survey-item-wrap:hover {
    border: 1px solid #7351fdcc;
}
.easycommerce-survey-item-wrap p {
    color: #3C3C42;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.easycommerce-survey-comment {
    width: 100%;
    height: 150px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #F0EDFB;
    resize: none;
}
.easycommerce-survey-comment::placeholder {
    color:#7F7F98;
}
.easycommerce-survey-comment:focus {
    border: 1px solid #7351fd;
    box-shadow: 0px 0px 0px 4px #F3F0FF;
}

.easycommerce-survey-skip-deactive {
    color: #3C3C42;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
}
.easycommerce-survey-skip-deactive:hover ,
.easycommerce-survey-skip-deactive:focus {
    color: #7351FD;
}
.easycommerce-submit-deactive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}
.easycommerce-survey-bottom {
    width: 124px;
    height: 40px;
    padding: 10px;
    border: 1px solid #7351fd;
    color: #7351fd;
    background: transparent;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    font-size: 14px;
}
.easycommerce-survey-bottom:last-child {
    width: 182px;
    background: #7351fd;
    color: #fff;
    transition: 0.3s all ease;
}

.easycommerce-survey-bottom:last-child:hover {
    background: #6640FF;
}

.easycommerce-survey-bottom-wrapper {
    display: flex;
    gap: 16px;
}
.loader {
    border: 1px solid #ffffff;
    border-top: 1px solid var(--color-ec-primary);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    display: none;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 1875px) {
    .easycommerce-servey-container {
        height: 500px;
        padding: 25px 30px;
    }
    .easycommerce-survey-header {
        margin: 15px 0px;
    }
    .easycommerce-survey-item-wrap {
        gap: 0px;
        padding: 0px 20px;
        margin-bottom: 16px;
    }
    .easycommerce-survey-comment {
        height: 99px;
    }
    .easycommerce-submit-deactive {
        margin-top: 30px;
    }
}